body {font-family: Palatino Linotype, Palatino, serif;}
a {color: #ff0000; text-decoration: none;}
a:hover {text-decoration: underline;}
a:visited {color: #990000;}
#container {width: 960px;
            background-color: #ffffff;
            margin-left: auto;
            margin-right: auto;}
#sidebar {width: 320px;
          float: right;}
.living {font-weight: bold;}
.deceased {color: #444444;}
