asgiref==3.4.1
boto3==1.18.40
botocore==1.21.40
certifi==2018.11.29
chardet==3.0.4
charset-normalizer==2.0.2
Django==3.2.12
django-common-helpers==0.9.0
django-cron==0.5.1
django-dbbackup==3.3.0
django-mathfilters==0.3.0
django-settings-export==1.0.3
django-storages==1.11.1
django-stronghold==0.3.0
django-taggit==1.5.1
django-tinymce==3.4.0
docutils==0.14
easy-thumbnails==2.7.1
idna==2.7
jmespath==0.9.3
mysqlclient==1.4.2
olefile==0.44
opencage==1.2
Pillow==9.0.1
python-dateutil==2.6.1
pytz==2018.7
requests==2.26.0
s3transfer==0.5.0
six==1.11.0
sqlparse==0.3.0
typing==3.5.2.2
typing-extensions==3.10.0.2
urllib3==1.26.5
