# Copy this file and name it secret_settings.py
# It will be included by settings.py to provide the necessary
# installation-specific API settings/secrets.

# Django secret
SECRET_KEY = '<Secret Key>'

# Geocoding and map secrets
OPENCAGE_API_KEY = '<OpenCage API Key>'
MAPBOX_PROJECT_ID = '<MapBox Project ID>'
MAPBOX_ACCESS_TOKEN = '<MapBox Access Token>''

