{% load static %}
<div class="panel-group" id="accordion">
  {% if on_this_day %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
            On This Day - {{ today|date:"jS F" }}
          </a>
        </h3>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in">
        <table class="table">
          {% for birth in on_this_day.0 %}
            <tr>
              <td class="text-right text-primary"><small>{{ birth.date_of_birth|date:"Y" }}</small></td>
              <td>
                <a href="{% url 'person' birth.id %}">{{ birth.name }}</a> was born
                {% if birth.birth_location %}
                  in {{ birth.birth_location }}
                {% endif %}
              </td>
            </tr>
          {% endfor %}
          {% for death in on_this_day.1 %}
            <tr>
              <td class="text-right text-primary"><small>{{ death.date_of_death|date:"Y" }}</small></td>
              <td><a href="{% url 'person' death.id %}">{{ death.name }}</a> died</td>
            </tr>
          {% endfor %}
          {% for marriage in on_this_day.2 %}
            <tr>
              <td class="text-right text-primary"><small>{{ marriage.wedding_date|date:"Y" }}</small></td>
              <td>
                <a href="{% url 'person' marriage.husband.id %}">{{ marriage.husband }}</a>
                married
                <a href="{% url 'person' marriage.wife.id %}">{{ marriage.wife.given_names }} {{ marriage.wife.birth_surname }}</a>
                {% if marriage.wedding_location %}
                  in {{ marriage.wedding_location }}
                {% endif %}
              </td>
            </tr>
          {% endfor %}
          {% for event in on_this_day.3 %}
            <tr>
              <td class="text-right text-primary"><small>{{ event.date|date:"Y" }}</small></td>
              <td>
                <a href="{% url 'person' event.person_id %}">{{ event.person.name }}</a> was {{ event.event_type.verb }}
                {% if event.location %}
                  in {{ event.location }}
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  {% endif %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          Most Common Birthplaces
        </a>
      </h3>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse{% if not on_this_day %} in{% endif %}">
      <table class="table">
        {% for region in regions %}
          <tr>
            <td>
              <img src="{% get_static_prefix %}people/images/flags/{{ region.country_code }}.png"
                   alt="{{ region.country_name }}" width="24" height="24" style="margin: -2px 5px;"/>
              <a href="{% url 'region' region.name %}">{{ region.name }}</a>
            </td>
            <td class="text-right">{{ region.natives_count }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          Most Popular Given Names
        </a>
      </h3>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#male" data-toggle="tab">Male</a></li>
          <li><a href="#female" data-toggle="tab">Female</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="male">
            <table class="table">
              {% for name in male_names %}
                <tr>
                  <td><a href="{% url 'forename' name.forename %}">{{ name.forename }}</a></td>
                  <td class="text-right">{{ name.forename__count }}</td>
                </tr>
              {% endfor %}
            </table>
          </div>
          <div class="tab-pane" id="female">
            <table class="table" style="border-top: 0;">
              {% for name in female_names %}
                <tr>
                  <td><a href="{% url 'forename' name.forename %}">{{ name.forename }}</a></td>
                  <td class="text-right">{{ name.forename__count }}</td>
                </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Tags</a>
      </h3>
    </div>
    <div id="collapseFour" class="panel-collapse collapse">
      <div class="panel-body">
        <p>
        {% for tag in tags %}
          <span>
            <a href="{% url 'tag' tag.slug %}" class="label label-primary"
               style="margin: 2px 0; display: inline-block;">
              {{ tag.name }}
              <span class="badge" style="background-color: #fff; color: #325d88; margin-left: 5px;">{{ tag.tag_count }}</span>
            </a>
          </span>
        {% endfor %}
        </p>
      </div>
    </div>
  </div>
</div>
