{% load static %}
<div class="panel-group" id="accordion">
  {% include 'people/fragments/onthisday.html' with id='collapse1' %}
  {% include 'people/fragments/birthplaces.html' with id='collapse2' %}
  {% include 'people/fragments/names.html' with id='collapse3' %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Tags</a>
      </h3>
    </div>
    <div id="collapse4" class="panel-collapse collapse">
      <div class="panel-body">
        <p>
        {% for tag in tags %}
          <a href="{% url 'tag' tag.slug %}" class="label label-primary">{{ tag.name }}</a>
        {% endfor %}
        </p>
      </div>
    </div>
  </div>
</div>
