<div class="row">
  <div class="form-group col-sm-4{% if date.errors %} has-error{% endif %}">
    <label class="control-label sr-only">{{ date.label }}</label>
    {{ date }}
  </div>
  <div class="form-group col-sm-8">
    <label class="control-label sr-only">{{ location.label }}</label>
    <div class="input-group location-field">
      {{ location }}
      <span class="input-group-btn">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add_location" data-event="{{ event }}" title="Add New Location">
          <span class="glyphicon glyphicon-plus"></span>
        </a>
      </button>
    </div>
  </div>
</div>
<div class="row">
  <div class="form-group col-sm-12{% if reference.errors %} has-error{% endif %}">
    <label class="control-label sr-only">{{ reference.label }}</label>
    {{ reference }}
  </div>
</div>
