<div id="map"></div>
<script>
  $(document).ready(function(){
    {% if map_area %}
      map = L.map('map', {fullscreenControl: true}).fitBounds([[{{ map_area.0.0 }},{{ map_area.0.1 }}],[{{ map_area.1.0 }},{{ map_area.1.1}}]]);
    {% else %}
      map = L.map('map', {zoomControl: false}).setView([{{ location.latitude }},{{ location.longitude }}],{{ zoom|default_if_none:"7" }});
    {% endif %}
    L.tileLayer('https://api.mapbox.com/styles/v1/mapbox/streets-v11/tiles/{z}/{x}/{y}@2x?access_token={accessToken}',
                {attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors,\
                               <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>,\
                               Imagery &copy; <a href="http://mapbox.com">Mapbox</a>',
                 minZoom: 2,
                 maxZoom: 18,
                 zoomOffset: -1,
                 tileSize: 512,
                 accessToken: '{{ settings.MAPBOX_ACCESS_TOKEN }}'}).addTo(map);
  });
</script>
