<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#{{ id }}">
        Most Popular Given Names
      </a>
    </h3>
  </div>
  <div id="{{ id }}" class="panel-collapse collapse">
    <div class="panel-body">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#male" data-toggle="tab">Male</a></li>
        <li><a href="#female" data-toggle="tab">Female</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="male">
          <table class="table">
            {% for name in male_names %}
              <tr>
                <td><a href="{% url 'forename' name.forename %}">{{ name.forename }}</a></td>
                <td class="text-right">{{ name.forename__count }}</td>
              </tr>
            {% endfor %}
          </table>
        </div>
        <div class="tab-pane" id="female">
          <table class="table" style="border-top: 0;">
            {% for name in female_names %}
              <tr>
                <td><a href="{% url 'forename' name.forename %}">{{ name.forename }}</a></td>
                <td class="text-right">{{ name.forename__count }}</td>
              </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
