<div class="modal fade" id="show_relationship" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
        <h4 class="modal-title">Relationship - {{ description }}</h4>
      </div>
      <div class="modal-body text-center">
        {% if relationship.1|length == 1 %}
          {% include 'people/fragments/treeperson.html' with people=relationship.2 ancestor=True %}
        {% elif relationship.2|length == 1 %}
          {% include 'people/fragments/treeperson.html' with people=relationship.1 ancestor=True %}
        {% else %}
          {% for root in relationship.0 %}
            <div class="tree-root">
              <a href="{% url 'person' root.id %}">{{ root.name }}</a><br/>
              <small class="text-muted">{{ root.year_range }}</small>
            </div>
          {% endfor %}
          <br/>
          <span class="text-muted">|</span>
          <div class="tree-span"></div>
          <div class="row">
            <div class="col-xs-6">
              {% include 'people/fragments/treeperson.html' with people=relationship.1|slice:"1:" ancestor=False %}
            </div>
            <div class="col-xs-6">
              {% include 'people/fragments/treeperson.html' with people=relationship.2|slice:"1:" ancestor=False %}
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

