<div class="panel panel-default">
  <div class="panel-heading">Timeline</div>
  <table class="table table">
    {% for event in person.events.all %}
      <tr>
        <td class="text-right text-primary">
          <small>{{ event.date.short }}</small>
        </td>
        <td>
          {% if event.reference %}
            <a href="{{ event.reference }}" target="_blank" class="pull-right">
              <span class="glyphicon glyphicon-new-window"></span>
            </a>
          {% endif %}
          {{ event.event_type.verb|title }}
          {% if event.location %}in {{ event.location.name }}{% endif %}
        </td> 
      </tr>
    {% endfor %}
  </table>
</div>

