<div class="panel panel-default">
  <div class="panel-heading">Timeline</div>
  <table class="table table">
    {% for event in person.timeline %}
      <tr>
        <td class="text-right text-primary small">{{ event.date.short }}</td>
        <td>
          {% if event.reference %}
            <a href="{{ event.reference }}" target="_blank" class="pull-right">
              <span class="glyphicon glyphicon-new-window"></span>
            </a>
          {% endif %}
          {{ event.verb|title }}
          {% if event.location %}
            in {% include 'people/fragments/location.html' with location=event.location %}
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </table>
</div>

