{% extends "people/base.html" %}
{% load static %}
{% block title %}Add Person{% endblock %}
{% block head %}
  {{ form.media }}
  <script src="{% static 'people/js/bootstrap-tagsinput.min.js' %}"></script>
  <link href="{% static 'people/css/bootstrap-tagsinput.css' %}" rel="stylesheet" />
  <style>.select2-container, .bootstrap-tagsinput {width: 100% !important;}</style>
{% endblock %}

{% block content %}
  {% include 'people/fragments/addlocation.html' %}
  <h1 class="page-header">{% block heading %}Add Person{% endblock %}</h1>
  <div class="row">
    <div class="col-md-12">
      {% if form.non_field_errors %}
        <div class="alert alert-danger">
          {% for error in form.non_field_errors %}
            {{ error }}<br/>
          {% endfor %}
        </div>
      {% endif %}
      <form method="post" role="form">
        {% csrf_token %}

        <div class="well">
          <fieldset>
            <div class="row">
              <div class="form-group col-md-6{% if form.gender.errors %} has-error{% endif %}">
                <label class="control-label sr-only">{{ form.gender.label }}</label>
                {% for radio in form.gender %}
                  <div class="radio-inline">
                    {{ radio.tag }} {{ radio.choice_label }}
                  </div>
                {% endfor %}
              </div>
              <div class="form-group col-md-6 text-right">
                <div class="checkbox-inline">
                  {{ form.blood_relative }} {{ form.blood_relative.label }}
                </div>
                <div class="checkbox-inline">
                  {{ form.deceased }} {{ form.deceased.label }}
                </div>
              </div>
            </div>
          </fieldset>

          <fieldset>
            <legend>Name</legend>
            <div class="row">
              <div class="form-group col-md-3{% if form.forename.errors %} has-error{% endif %}">
                <label class="control-label sr-only">{{ form.forename.label }}</label>
                {{ form.forename }}
              </div>
              <div class="form-group col-md-5{% if form.middle_names.errors %} has-error{% endif %}">
                <label class="control-label sr-only">{{ form.middle_names.label }}</label>
                {{ form.middle_names }}
              </div>
              <div class="form-group col-md-4{% if form.surname.errors %} has-error{% endif %}">
                <label class="control-label sr-only">{{ form.surname.label }}</label>
                {{ form.surname }}
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-3{% if form.known_as.errors %} has-error{% endif %}">
                <label class="control-label sr-only">{{ form.known_as.label }}</label>
                {{ form.known_as }}
              </div>
              <div class="form-group col-md-4 col-md-offset-5{% if form.maiden_name.errors %} has-error{% endif %}">
                <label class="control-label sr-only">{{ form.maiden_name.label }}</label>
                {{ form.maiden_name }}
              </div>
            </div>
          </fieldset>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="well">
              <fieldset>
                <legend>Birth</legend>
                {% include 'people/fragments/eventfields.html' with event='birth' date=form.date_of_birth location=form.birth_location reference=form.birth_reference %}
                {% include 'people/fragments/eventfields.html' with event='baptism' date=form.date_of_baptism location=form.baptism_location reference=form.baptism_reference %}
              </fieldset>
            </div>
          </div>

          <div class="col-md-6">
            <div class="well">
              <fieldset id="death">
                <legend>Death</legend>
                {% include 'people/fragments/eventfields.html' with event='death' date=form.date_of_death location=form.death_location reference=form.death_reference %}
                {% include 'people/fragments/eventfields.html' with event='burial' date=form.date_of_burial location=form.burial_location reference=form.burial_reference %}
              </fieldset>
            </div>
          </div>
        </div>

        <div class="well">
          <fieldset>
            <legend>Parents</legend>
            <div class="row">
              <div class="form-group col-md-6">
                <label class="control-label sr-only">{{ form.mother.label }}</label>
                {{ form.mother }}
              </div>
              <div class="form-group col-md-6">
                <label class="control-label sr-only">{{ form.father.label }}</label>
                {{ form.father }}
              </div>
            </div>
          </fieldset>
        </div>

        <div class="well">
          <fieldset>
            <legend>Notes</legend>
            {{ form.notes }}<br/>
            {{ form.tags }}
          </fieldset>
        </div>

        <div class="text-right">
          <button type="submit" class="btn btn-primary">{% block button_title %}Add Person{% endblock %}</button>
        </div>
      </form>
    </div>
  </div>
  <script>
    $(document).ready(function(){
      $('#death, #id_death_location, #id_burial_location').prop('disabled', !$('#id_deceased').is(':checked'));
      $('#id_maiden_name').prop('disabled', !$('#id_gender_1').prop('checked'));
      $('#id_birth_location').select2({templateResult: placeTemplate, templateSelection: placeTemplate, placeholder: 'Birthplace'});
      $('#id_baptism_location').select2({templateResult: placeTemplate, templateSelection: placeTemplate, placeholder: 'Location'});
      $('#id_death_location').select2({templateResult: placeTemplate, templateSelection: placeTemplate, placeholder: 'Location'});
      $('#id_burial_location').select2({templateResult: placeTemplate, templateSelection: placeTemplate, placeholder: 'Location'});
      $('#id_mother').select2({templateResult: nameTemplate, templateSelection: nameTemplate, placeholder: 'Mother'});
      $('#id_father').select2({templateResult: nameTemplate, templateSelection: nameTemplate, placeholder: 'Father'});
      $('#id_deceased').on('change', function(){$('#death, #id_death_location, #id_burial_location').prop('disabled', !$(this).is(':checked'));});
      $('.radio-inline').on('change', function(){$('#id_maiden_name').prop('disabled', !$('#id_gender_1').prop('checked'));});
      $('#id_tags').tagsinput({tagClass: function(item){return 'label label-primary';}, trimValue: true});
    });
  </script>
{% endblock %}
