{% extends "people/base.html" %}
{% load static %}
{% block title %}{{ location }}{% endblock %}
{% block head %}
  {% include 'people/fragments/mapresources.html' with clustering=False fullscreen=True %}
  <style>
    .headerSortUp:after {content: " \25bc"}
    .headerSortDown:after {content: " \25b2"}
    .text-muted a {color: inherit;}
    #map {height: 300px; padding: 0; margin-top: -10px;}
  </style>
  <script src="{% static 'people/js/jquery.tablesorter.min.js' %}"></script>
  <script src="{% static 'people/js/tablesorterextra.js' %}"></script>
  <script>
    $(document).ready(function(){
      {% if births %}
        $("#births-table").tablesorter({sortList: [[0,0]],
                                        headers: {1: {sorter: "names"}, 2: {sorter: "names"}, 3: {sorter: "names"}, 4: {sorter: false}},
                                        textExtraction: getSortValue});
      {% endif %}
      {% if marriages %}
        $("#marriages-table").tablesorter({sortList: [[0,0]],
                                           headers: {1: {sorter: "names"}, 2: {sorter: "names"}},
                                           textExtraction: getSortValue});
      {% endif %}
      {% if deaths %}
        $("#deaths-table").tablesorter({sortList: [[0,0]],
                                        headers: {1: {sorter: "names"}, 4: {sorter: false}},
                                        textExtraction: getSortValue});
      {% endif %}
    });
  </script>
{% endblock %}

{% block header %}
  {% include 'people/fragments/map.html' with zoom=14 %}
{% endblock %}

{% block content %}
  <h1 class="page-header">
    <img src="{% get_static_prefix %}people/images/flags/large/{{ location.country.country_code }}.png"
         alt="{{ location.country }}" class="flag-large" />
    {{ location.name }} <small>{{ location.county_state_province }}</small>
  </h1>
  <ul class="nav nav-tabs nav-justified">
    {% if births %}
      <li class="active"><a href="#births" data-toggle="tab">Births <span class="badge">{{ births|length }}</span></a></li>
    {% else %}
      <li class="disabled"><a href="#births">Births</span></a></li>
    {% endif %}

    {% if marriages %}
      <li{% if not births %} class="active"{% endif %}><a href="#marriages" data-toggle="tab">Marriages <span class="badge">{{ marriages|length }}</span></a></li>
    {% else %}
      <li class="disabled"><a href="#marriages">Marriages</span></a></li>
    {% endif %}

    {% if deaths %}
      <li{% if not births and not marriages %} class="active"{% endif %}><a href="#deaths" data-toggle="tab">Deaths <span class="badge">{{ deaths|length }}</span></a></li>
    {% else %}
      <li class="disabled"><a href="#deaths">Deaths</a></li>
    {% endif %}
  </ul>
  <br/>
  <div class="tab-content">
    <div class="tab-pane{% if births %} active{% endif %}" id="births">
      <table class="table" id="births-table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Name</th>
            <th class=hidden-xs">Mother</th>
            <th class=hidden-xs">Father</th>
            <th class="hidden-xs">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
        {% for person in births %}
          <tr class="{% if not person.blood_relative %}text-muted small{% endif %}">
            <td data-sort-value="{{ person.date_of_birth.lower_bound|date:'Y-m-d' }}">{{ person.date_of_birth.short }}</td>
            <td>
              <a href="{% url 'person' person.id %}">{{ person.name }}</a>
            </td>
            <td class=hidden-xs">
              {% if person.mother %}<a href="{% url 'person' person.mother.id %}">{{ person.mother.name }}</a>{% endif %}
            </td>
            <td class=hidden-xs">
              {% if person.father %}<a href="{% url 'person' person.father.id %}">{{ person.father.name }}</a>{% endif %}
            </td>
            <td class="text-right hidden-xs">
              {% if person.photos.all %}
                &nbsp;<span class="glyphicon glyphicon-picture"
                            title="{{ person.photos.count }} Photo{{ person.photos.cout|pluralize }}"></span>
              {% endif %}
              {% if person.notes %}&nbsp;<span class="glyphicon glyphicon-pencil" title="Has Notes"></span>{% endif %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="tab-pane{% if marriages and not births %} active{% endif %}" id="marriages">
      <table class="table" id="marriages-table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Husband</th>
            <th>Wife</th>
          </tr>
        </thead>
        <tbody>
        {% for marriage in marriages %}
          <tr>
            <td data-sort-value="{{ marriage.date.lower_bound|date:'Y-m-d' }}">{{ marriage.date.short }}</td>
            <td{% if not marriage.husband.blood_relative %} class="text-muted small"{% endif %}>
              <a href="{% url 'person' marriage.husband.id %}">{{ marriage.husband.birth_name }}</a>
            </td>
            <td{% if not marriage.wife.blood_relative %} class="text-muted small"{% endif %}>
              <a href="{% url 'person' marriage.wife.id %}">{{ marriage.wife.birth_name }}</a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="tab-pane{% if deaths and not marriages and not births %} active{% endif %}" id="deaths">
      <table class="table" id="deaths-table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Name</th>
            <th class="hidden-xs">Age</th>
            <th class="hidden-xs">Birthplace</th>
            <th class="hidden-xs">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
        {% for person in deaths %}
          <tr{% if not person.blood_relative %} class="text-muted small"{% endif %}>
            <td data-sort-value="{{ person.date_of_death.lower_bound|date:'Y-m-d' }}">{{ person.date_of_death.short }}</td>
            <td><a href="{% url 'person' person.id %}">{{ person.name }}</a></td>
            <td class="hidden-xs">{{ person.age|default_if_none:"Unknown" }}</td>
            <td class="hidden-xs">
              {% if person.birth_location %}
                {% include 'people/fragments/location.html' with location=person.birth_location %}
              {% endif %}
            </td>
            <td class="text-right hidden-xs">
              {% if person.photos.all %}
                &nbsp;<span class="glyphicon glyphicon-picture"
                            title="{{ person.photos.count }} Photo{{ person.photos.cout|pluralize }}"></span>
              {% endif %}
              {% if person.notes %}&nbsp;<span class="glyphicon glyphicon-pencil" title="Has Notes"></span>{% endif %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
