{% extends "people/base.html" %}
{% load static %}
{% load staticfiles %}
{% load thumbnail %}
{% block title %}Family Tree - Ancestors Map{% endblock %}
{% block head %}
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
  <style>
    html {height: 100%;}
    body {margin-top: 60px; height: calc(100% - 60px);}
    #map {height: 100%; padding: 0; margin: 0;}
  </style>
{% endblock %}

{% block container %}
    <div id="map"></div>
    <script>
      $(document).ready(function(){
        var map = L.map('map').setView([{{ map_center.0 }}, {{ map_center.1 }}], 7);
        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}',
                    {attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery &copy; <a href="http://mapbox.com">Mapbox</a>',
                     maxZoom: 18,
                     id: '{{ settings.MAPBOX_PROJECT_ID }}',
                     accessToken: '{{ settings.MAPBOX_ACCESS_TOKEN }}'}).addTo(map);
        {% for location in locations %}
          var marker{{ forloop.counter }} = L.marker([{{ location.latitude }}, {{ location.longitude }}]).addTo(map);
          marker{{ forloop.counter }}.bindPopup('<a href="{% url 'location' location.id %}">{{ location.name }}</a><br/>{{ location.county_state_province }}');
        {% endfor %}
      });
    </script>
{% endblock %}

