{% extends "people/base.html" %}
{% load static %}
{% load staticfiles %}
{% load thumbnail %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>
  <style>
    html {height: 100%;}
    body {margin-top: 60px; height: calc(100% - 60px);}
    #map {height: 100%; padding: 0; margin: 0;}
  </style>
{% endblock %}

{% block container %}
  {% include 'people/fragments/map.html' with zoom=7 %}
{% endblock %}

