{% extends "people/base.html" %}
{% load static %}
{% load staticfiles %}
{% load thumbnail %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
  {% include 'people/fragments/mapresources.html' with clustering=True fullscreen=True %}
  <style>
    html {height: 100%;}
    body {margin-top: 60px; height: calc(100% - 60px);}
    #map {height: 100%; padding: 0; margin: 0;}
  </style>
{% endblock %}

{% block container %}
  {% include 'people/fragments/map.html' %}
  <script>
    $(document).ready(function(){
      var g = L.markerClusterGroup({showCoverageOnHover: false,
                                    singleMarkerMode: true,
                                    spiderfyOnMaxZoom: false,
                                    maxClusterRadius: 70,
                                    iconCreateFunction: clusterIcon});
      {% for l in locations %}
        addMarker(g, {{ l.latitude }}, {{ l.longitude }}, '{{ l.name }}', '{{ l.county_state_province }}', 'born', {{ l.event_count|default:1 }}, '{% url 'location' l.id %}');
      {% endfor %}
      map.addLayer(g);
    });
  </script>
{% endblock %}

