{% extends "people/base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
  <style>
    .headerSortUp:after {content: " \25bc"}
    .headerSortDown:after {content: " \25b2"}
    .text-muted a {color: inherit;}
    .unrelated {font-style: italic;}
  </style>
  <script src="{% static 'people/js/jquery.tablesorter.min.js' %}"></script>
  <script>
    $.tablesorter.addParser(
    {id: "names",
     is: function(s){return false;},
     format: function(s){
        var regex = /([\w\s]+)(?:\s\(\w+\))?/g;
        var names = regex.exec(s)[0].trim().split(" ");
        names.splice(0, 0, names[names.length - 1]);
        return names.slice(0, names.length - 1).join(" ");
     },
     type:'text'});
    $(document).ready(function(){$(".table").tablesorter({sortList: [[0,0]], headers: {0: {sorter: "names"}, 3: {sorter: false}}});});
  </script>
{% endblock %}

{% block content %}
  <h1 class="page-header">{{ title }} <small>{{ people|length }} {{people|pluralize:"person,people" }}</small></h1>
  {% include 'people/fragments/peoplelist.html' %}
{% endblock %}
