{% extends "people/base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
  <style>
    .headerSortUp:after {content: " \25bc"}
    .headerSortDown:after {content: " \25b2"}
    .text-muted a {color: inherit;}
  </style>
  <script src="{% static 'people/js/jquery.tablesorter.min.js' %}"></script>
  <script src="{% static 'people/js/tablesorterextra.js' %}"></script>
  <script>
    $(document).ready(function(){$(".table").tablesorter({sortList: [[0,0]], headers: {0: {sorter: "names"}, 3: {sorter: false}}});});
  </script>
{% endblock %}

{% block content %}
  <h1 class="page-header">{{ title }} <small>{{ people|length }} {{people|pluralize:"person,people" }}</small></h1>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Dates</th>
        <th class="hidden-xs">Birthplace</th>
        <th class="hidden-xs">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
    {% for person in people %}
      <tr{% if not person.blood_relative %} class="text-muted small"{% endif %}>
        <td><a href="{% url 'person' person.id %}">{{ person.name }}</a></td>
        <td>{{ person.year_range }}</td>
        <td class="hidden-xs">
          {% if person.birth_location %}
            {% include 'people/fragments/location.html' with location=person.birth_location %}
          {% endif %}
        </td>
        <td class="text-right hidden-xs">
          {% if person.photos.all %}
            &nbsp;<span class="glyphicon glyphicon-picture"
                        title="{{ person.photos.count }} Photo{{ person.photos.cout|pluralize }}"></span>
          {% endif %}
          {% if person.notes %}&nbsp;<span class="glyphicon glyphicon-pencil" title="Has Notes"></span>{% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
