{% extends "people/base.html" %}
{% load static %}
{% block title %}{{ person.name }}{% endblock %}

{% block content %}
  <h1 class="page-header">
    {{ person.name }}
    {% if relationship %}
      <small>{{ relationship }}</small>
    {% elif person == user.person %}
      <small>You</small>
    {% endif %}
    {% if user.is_staff %}
      <a href="{% url 'admin:people_person_change' person.id %}" class="pull-right btn btn-default">
        <span class="glyphicon glyphicon-pencil"></span> Edit
      </a>
    {% endif %}
  </h1>
  <div class="row">
    <div class="col-md-8">
      <table class="table table-condensed">
        <tr>
          <td>Born:</td>
          <td>{{ person.date_of_birth|default_if_none:"????" }}</td>
          <td class="text-right">
            {% if person.birth_location %}
              {% include 'people/fragments/location.html' with location=person.birth_location %}
            {% endif %}
          </td>
        </tr>
        {% if person.deceased %}
          <tr>
            <td>Died:</td>
            <td>{{ person.date_of_death|default_if_none:"????" }}</td>
            <td class="text-right">{% if person.age %}(aged {{ person.age }} years){% endif %}</td>
          </tr>
        {% elif person.age %}
          <tr><td>Age:</td><td colspan="2">{{ person.age }} years</td></tr>
        {% endif %}
      </table>
      <div class="row">
        {% if person.timeline|length > 0 %}
          <div class="col-md-5">
            {% include 'people/fragments/timeline.html' %}
          </div>
        {% endif %}
        <div class="{% if person.timeline|length > 0 %}col-md-7{% else %}col-md-12{% endif %}">
          <h4>Notes</h4>
          {{ person.notes|safe }}
        </div>
      </div>
      {% include 'people/fragments/photos.html' %}
      {% include 'people/fragments/documents.html' %}
    </div>
    <div class="col-md-4">
      {% include 'people/fragments/family.html' %}
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      {% include 'people/fragments/tags.html' %}
    </div>
  </div>
{% endblock %}

