{% extends "people/base.html" %}
{% load static %}
{% block title %}{{ person.name }}{% endblock %}
{% block head %}
  <style>
    .divorced {text-decoration: line-through;}
  </style>
{% endblock %}

{% block content %}
  {% if expanded_relationship %}
    {% include 'people/fragments/relationship.html' with relationship=expanded_relationship %}
  {% endif %}
  <h1 class="page-header">
    {% if user.is_staff %}
      <a href="{% url 'edit_person' person.id %}" class="pull-right btn btn-primary" title="Edit">
        <span class="glyphicon glyphicon-pencil"></span>
      </a>
    {% endif %}
    {{ person.forename }} {{ person.middle_names }}
    {% if person.known_as %}"{{ person.known_as }}"{% endif %}
    <a href="{% url 'surname' person.surname %}">{{ person.surname|upper }}</a>
    {% if person.maiden_name %}
      <small>(n&eacute;e <a href="{% url 'surname' person.maiden_name %}">{{ person.maiden_name }}</a>)</small>
    {% endif %}

    {% if relationship %}
      <br/><small>{{ relationship }}</small>
      <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#show_relationship" title="Show relationship">
        <span class="glyphicon glyphicon-tree-conifer"></span>
      </button>
<script>
  function ajaxSuccess(data) {
    var id = data.substring(0, data.indexOf('|'));
    var item = data.substring(data.indexOf('|') + 1);
    $('.location-field select').each(function(){
      $(this).append(new Option(item, id, false, location_field_id === $(this).attr('id')));
    });
    $('#add_location').modal('hide');
  }

  function ajaxError(data) {
    if (data.responseJSON.__all__)
    {
      $('#add_location_error').removeClass('hidden').html(data.responseJSON.__all__);
    }
  }

  $(document).ready(function(){
    $('#id_country').select2({templateResult: placeTemplate, templateSelection: placeTemplate, placeholder: 'Country', dropdownParent: $('#add_location')});
    $('#add_location').on('show.bs.modal', function(event) {
      location_field_id = 'id_' + $(event.relatedTarget).data('event') + '_location';
    });
    $('#add_location_form').submit(function(event){
      $('#add_location_error').addClass('hidden').html('');
      $.ajax({type: 'POST', url: $(this).attr('action'), data: $(this).serialize(), success: ajaxSuccess, error: ajaxError});
      event.preventDefault();
    });
  });
</script>
    {% elif person == user.person %}
      <br/><small>You</small>
    {% endif %}
  </h1>
  <div class="row" style="margin-top: -10px; margin-bottom: 20px;">
    <div class="col-md-6 col-sm-12">
      {% if person.date_of_birth %}
        <p class="pull-left">
          <span class="text-primary">Born:</span> {{ person.date_of_birth.year }}
          {% if person.deceased and person.date_of_death %}
            <span class="text-muted" style="margin: 0 5px;">&middot;</span>
            <span class="text-primary">Died:</span> {{ person.date_of_death.year }}
          {% endif %}
          {% if person.age %}
            <span class="text-muted" style="margin: 0 5px;">&middot;</span>
            <span class="text-primary">Age:</span> {{ person.age }} year{{ person.age|pluralize }}
          {% endif %}
        </p>
      {% endif %}
    </div>
    <div class="col-md-6 col-sm-12 text-right">
      {% for tag in person.sorted_tags %}
        <a href="{% url 'tag' tag.slug %}" class="label label-primary">{{ tag.name }}</a>
      {% endfor %}
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      {% if person.timeline|length > 0 %}
        {% include 'people/fragments/timeline.html' %}
      {% endif %}
      <h4>Notes</h4>
      {{ person.notes|safe }}
      {% include 'people/fragments/photos.html' %}
      {% include 'people/fragments/documents.html' %}
    </div>
    <div class="col-md-4">
      {% include 'people/fragments/family.html' %}
    </div>
  </div>
{% endblock %}

