{% extends "people/base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
<style>.living {font-weight: bold;}</style>
{% endblock %}

{% block content %}
  <h1 class="page-header">
    {{ title }}
    <small>{{ relatives|length }} {{ relatives|pluralize:"person,people" }}</small>
    <div class="pull-right">
      {% if person %}
        <a href="{% url 'report' person.id %}" class="btn btn-default">
          <span class="glyphicon glyphicon-stats"></span> Report
        </a>
        <a href="{% url 'ring_chart' person.id %}" class="btn btn-default">
          <span class="glyphicon glyphicon-record"></span> Chart
        </a>
      {% endif %}
      <a href="{{ map_link }}" class="btn btn-default">
        <span class="glyphicon glyphicon-globe"></span> Map
      </a>
    </div>
  </h1>
  <table class="table">
  {% for relative, description, distance in relatives %}
    <tr>
      <td{% if not relative.deceased %} class="living"{% endif %}><a href="{% url 'person' relative.id %}">{{ relative.name }}</a></td>
      <td{% if not relative.deceased %} class="living"{% endif %}>{{ description }}</td>
      <td{% if not relative.deceased %} class="living"{% endif %}>{{ relative.year_range }}</td>
      <td class="hidden-xs">
        {% if relative.birth_location %}
          {% include 'people/fragments/location.html' with location=relative.birth_location %}
        {% endif %}
      </td>
      <td class="text-right hidden-xs">
        {% if relative.photos.all %}
          &nbsp;<span class="glyphicon glyphicon-camera"
                      title="{{ relative.photos.count }} Photo{{ relative.photos.cout|pluralize }}"></span>
        {% endif %}
        {% if relative.notes %}&nbsp;<span class="glyphicon glyphicon-pencil" title="Has Notes"></span>{% endif %}
      </td>
    </tr>
  {% endfor %}
  </table>
{% endblock %}
