{% extends "people/base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
  <h1 class="page-header">{{ title }}</h1>
  <table class="table">
  {% for relative, description, distance in relatives %}
    <tr{% if not relative.deceased %} class="active"{% endif %}>
      <td><a href="/people/{{ relative.id }}/">{{ relative.name }}</a></td>
      <td>{{ description }}</td>
      <td>
        {% if relative.date_of_birth %}
          {{ relative.date_of_birth.year }} -
          {% if relative.deceased %}
            {% if relative.date_of_death %}{{ relative.date_of_death.year }}{% else %}????{% endif %}
          {% endif %}
        {% endif %}
      </td>
      <td class="hidden-xs">
        {% if relative.birth_location %}
          <img src="{% get_static_prefix %}/images/flags/{{ relative.birth_location.country.country_code }}.png"
               alt="{{ relative.birth_location.country }}" width="24" height="24" style="margin: -2px 5px;"/>
          {{ relative.birth_location }}
        {% endif %}
      </td>
      <td class="text-right hidden-xs">
        {% if relative.notes %}&nbsp;<span class="glyphicon glyphicon-book" title="Has Notes"></span>{% endif %}
        {% if relative.documents.all %}
          &nbsp;<span class="glyphicon glyphicon-paperclip"
                      title="{{ relative.documents.count }} Document{{ relative.documents.count|pluralize }}"></span>
        {% endif %}
        {% if relative.photos.all %}
          &nbsp;<span class="glyphicon glyphicon-picture"
                      title="{{ relative.photos.count }} Photo{{ relative.photos.cout|pluralize }}"></span>
        {% endif %}
        {% if relative.tags.names %}
          &nbsp;<span class="glyphicon glyphicon-tag"
                      title="{{ relative.tags.count }} Tag{{ relative.tags.count|pluralize }}"></span>
        {% endif %}
      </td>
    </tr>
  {% endfor %}
  </table>
{% endblock %}
