{% extends "people/base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
<style>.living {font-weight: bold;}</style>
{% endblock %}

{% block content %}
  <h1 class="page-header">
    {{ title }}
    {% if person %}
      <a href="{% url 'report' person.id %}" class="pull-right btn btn-default">
        <span class="glyphicon glyphicon-equalizer"></span> Report
      </a>
    {% endif %}
  </h1>
  <table class="table">
  {% for relative, description, distance in relatives %}
    <tr>
      <td{% if not relative.deceased %} class="living"{% endif %}><a href="{% url 'person' relative.id %}">{{ relative.name }}</a></td>
      <td{% if not relative.deceased %} class="living"{% endif %}>{{ description }}</td>
      <td{% if not relative.deceased %} class="living"{% endif %}>{{ relative.year_range }}</td>
      <td class="hidden-xs">
        {% if relative.birth_location %}
          <img src="{% get_static_prefix %}people/images/flags/{{ relative.birth_location.country.country_code }}.png"
               alt="{{ relative.birth_location.country }}" width="24" height="24" style="margin: -2px 5px;"/>
          <a href="{% url 'location' relative.birth_location.id %}">{{ relative.birth_location }}</a>
        {% endif %}
      </td>
      <td class="text-right hidden-xs">
        {% if relative.photos.all %}
          &nbsp;<span class="glyphicon glyphicon-camera"
                      title="{{ relative.photos.count }} Photo{{ relative.photos.cout|pluralize }}"></span>
        {% endif %}
        {% if relative.notes %}&nbsp;<span class="glyphicon glyphicon-pencil" title="Has Notes"></span>{% endif %}
      </td>
    </tr>
  {% endfor %}
  </table>
{% endblock %}
