{% extends "people/base.html" %}
{% load static %}
{% load mathfilters %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
<style>.progress {margin-bottom: 0;}</style>
{% endblock %}

{% block content %}
  <h1 class="page-header">
    {{ title }}
    <div class="pull-right">
      <a href="{% url 'ring_chart' person.id %}" class="btn btn-default">
        <span class="glyphicon glyphicon-record"></span> Chart
      </a>
      <a href="{% url 'ancestors_map' person.id %}" class="btn btn-default">
        <span class="glyphicon glyphicon-globe"></span> Map
      </a>
    </div>
  </h1>
  <table class="table">
  {% for generation, count, size in generation_counts %}
    <tr>
      <td class="col-xs-2">Generation {{ generation }}</td>
      <td class="col-xs-9">
        <div class="progress">
          <div class="progress-bar{% if count < size|div:2 %} progress-bar-warning{% elif count < size %} progress-bar-info{% endif %}"
               style="width: {{ count|div:size|mul:100 }}%;"></div>
        </div>
      </td>
      <td class="col-xs-1 text-right">{{ count }} of {{ size }}</td>
    </tr>
  {% endfor %}
  </table>
  <h3>Missing Ancestors</h3>
  <table class="table">
  {% for person, relationship, mother, father in missing_parents %}
    <tr>
      <td>
        {% if mother and father %}Mother and father{% elif mother %}Mother{% else %}Father{% endif %}
        of <a href="{% url 'person' person.id %}">{{ person.name }}</a>
      </td>
      <td>{{ relationship }}</td>
    </tr>
  {% endfor %}
  </table>
{% endblock %}

